.topnav {
    background-color: bisque;
    overflow: hidden;
    display: block;
    text-align: right;
}

.topnav a {
    float: left;
    color: black;
    text-align: right;
    padding: 0px;
    font-size: 17px;
}

.topnav a:hover {
    background-color: black;
    color: black;
}

.topnav a.active {
    background-color: bisque;
    color: black;
}